<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
            <ul class="mt-4">
                <li>{{course.level}}</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="871" height="499" src="https://www.youtube.com/embed/{{course.videoId}}" title="Lời khuyên trước khóa học Node Express | Học lập trình cơ bản | Tự học lập trình online" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>